body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#calcul{
  margin-bottom: 20px;
  display: inherit;
}

#invalidDate, #load{
  display: none;
}

#load{
  text-align: center;
  display: none;
}